Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^index\.html$ - [L]
  RewriteRule ^es/moderaci(?:on|[oó]n)/?$ es/moderacion/index.php [L]
  RewriteRule ^(?:es|val|eng|ru)/?$ index.html [L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>

ErrorDocument 404 /404.html
